/* Universal Styles */

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: black;
}

main {
  max-width: 80%;
  margin-left: 10%;
}

@media only screen and (max-width: 1200px) {
  main {
    max-width: 90%;
    margin-left: 5%;
    transition: all 1s ease;
  }
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    max-width: 100%;
    margin-left: 0;
  }
  html {
    font-size: 12px;
  }
}

h1, h2, h3 {
  font-family: 'Impact', monospace;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  line-height: 3rem;
  color: #000;
}

h2 {
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

h4 {
  margin-bottom: 1rem;
}

h5 {
  font-size: .75rem;
}

p {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #ffffff;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a img {
  margin-left: 24px;
  height: 32px;
  width: auto;
}

.colmar {
  font-weight: bold;
}

.academy {
  color: #c0c0c0;
  font-weight: lighter;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 16px;
}

nav a:hover {
  color: #1da7a4;
}

/* Header media queries */
@media only screen and (min-width: 801px) {
  nav img {display: none;}
}

@media only screen and (max-width: 800px) {
  nav span {
    display: none;
  }
  nav li:nth-child(3n+1) {
    display: none;
  }
  nav li {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    display: none;
  }
  nav li:nth-child(5n+1) {
    display: inline-flex;
  }
  nav ul, nav {
    justify-content: space-around;
    width: 100%;
  }

}

/* Banner Section */
main {
  position: relative; top: 64px;
  margin-bottom: 64px;
}

.start {
  display: flex;
  align-items: center;
  padding: 32px 24px;
}

.bgimg {
    position: relative;
    z-index: 1;
}

.bgimg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/bg2.jpg') center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .6;
}

.banner {
  width: 60%;
  margin: 0;
}

.banner img {
  max-width: 100%;
}

.banner-text {
  margin: 20px 40px 0 40px;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
}

.banner-text p {
  font-family: 'Sofia', cursive;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: -2rem;
  line-height: 2rem;
  color: #101010;
}

.button {
  width: 50%;
  border-radius: 10px;
  background-color: #d4e2dc;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0 2rem 2rem 0rem;
  text-align: center;
}

.button:hover {
  background-color: darkblue;
  color: white;
  transition: all 0.5s ease 100ms;
}

/* Banner media queries */

@media only screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
  .start {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
  }
  .banner {
    width: 100%;
    max-height: auto;
    overflow: hidden;
  }
  .banner-text {
    flex-flow: row wrap;
    margin: 16px 0 0 0;
    width: 100%;
  }
  .button {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
  }
}

/* Article Section */
#campus {
  display: flex;
  max-width: 1600px;
}

.main-article {
  display: flex;
  flex-flow: column;
  max-width: 60%;
  padding: 32px 24px;
}

.quoter {
  margin-top: 2rem;
  font-style: italic;
  font-size: 0.9rem;
}

.quoter a:hover {
  font-style: normal;
  text-decoration: underline;
  color: #1da7a4;
}

#campus img, #companies img {
  max-width: 100%;
}

.sidebar {
  display: flex;
  flex-flow: column;
  padding: 2rem 0 1rem 0;
}

.article {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #ffffff;
  border-top: solid 1px #9aa7a4;
  border-left: solid 1px #9aa7a4;
}

.article:hover {
  background-color: #d4e2dc;
  transition: all 0.75s ease;
}

.article .image {
  max-width: 35%;
  padding: 1rem 2rem 1rem 1rem;
}

.article .title {
  width: 65%;
  padding-right: 2rem;
}

.title a:hover {
  color: #1da7a4;
  text-decoration: underline;
}

.mobile {
  display: none;
}

/* Article media queries */
@media only screen and (max-width:1000px) {
  #campus {
    flex-flow: column;
    padding: 2rem 0;
  }
  .main-article {
    max-width: 100%;
    padding: 2rem 1rem;
  }
  .quote {
    margin-left: 1rem;
  }
  .article {
    border: none;
  }
  #campus .sidebar {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 1.5rem 0;
    padding-top: 0;
  }
  #campus .article {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    align-items: flex-start;
  }
  #campus .image {
    padding: 1rem;
    max-width: 100%;
  }
  #campus .title {
    max-width: none;
    margin: 0 0 1rem 2rem;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .main-article {
    display: none;
  }
  #campus .sidebar {
    flex-flow: column;
    width: auto;
    margin-top: 0;
  }
  #campus .article {
    max-width: 100%;
    margin: 0.5rem 0;
  }
  .mobile {
    max-width: 100%;
    width: 800px;
  }
}

/* Courses Section */
#online {
  display: flex;
  flex-flow: column;
  background-color: #d4e2dc;
}

#online h2, #companies h2 {
  margin: 32px 0 0 0;
  text-align: center;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 32px 32px 32px;
}

.subject {
  display: flex;
  flex-flow: column nowrap;
  max-width: 29%;
  margin: 2rem 1rem;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.subject:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

/*.subject a:hover {
  border-bottom: solid 15px white;
  margin-top: -15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}*/

.subject img {
  width: 100%;
}

.details {
  margin: 16px 16px 24px 16px;
}

/* Courses media queries */

@media only screen and (max-width: 800px) {
  .subject {
    max-width: 45%;
  }
}

@media only screen and (max-width: 650px) {
  #online h2 {
    margin: 2rem auto;
  }
  #online {
    padding-bottom: 1rem;
  }
  .courses {
    flex-flow: column;
    max-width: 100%;
  }
  .subject {
    max-width: 90%;
    margin: 0.5rem 5%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .subject a:hover {
    border-top: none;
    margin-bottom: 0;
    border-right: solid 40px #d4e2dc;
    padding-left: -40px;
  }
  .subject img, .subject h4, .subject p {
    display: none;
  }
  #online h3 {
    margin: 0;
  }
}

/* Thesis Section */
#companies {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
}

.thesis-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
}

.thesis {
  display: flex;
  margin-bottom: 0;
}

.video {
  display: flex;
  flex-flow: column;
  max-width: 60%;
  margin: 2rem;
}

video {
  max-width: 100%;
  margin-bottom: 2rem;
}

/* Thesis media queries */

@media only screen and (max-width:1000px) {
  .thesis {
    flex-flow: column;
  }
  #companies .article {
    flex-flow: row;
    padding: 0;
    max-height: 15rem;
  }
  #companies .sidebar {
    display: flex;
    flex-flow: row;
    max-width: 100%;
    margin: 0 2rem 0 2rem;
  }
  #companies .image {
    padding: 1rem;
    max-width: 30%;
  }
  .video {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #companies .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  #companies .sidebar, #companies h3, #companies p {
    display: none;
  }
  .video {
    margin: 2rem 0;
    transition: margin 1s ease;
  }
}


/* Footer Section */
footer {
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-top: 1px solid #9aa7a4;
  font-weight: 300;
}

.terms a {
  margin: 0 2rem;
}

.terms a:hover {
  color: #1da7a4;
}

/* Footer media query */
@media only screen and (max-width: 650px) {
  footer {
    justify-content: center;
    height: 3rem;
    font-size: 0.85rem;
    border-top: none;
    padding-top: 0;
  }
  .terms {
    display: none;
  }
}

/* Signature */
.signature {
  text-align: right;
  background-color: black;
  color: white;
  padding-right: 2em;
  font-size: 12px;
  line-height: 16px;
  border-top: 1px solid black;
}
